.head-image {
  height: 60%;
}

.head-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.head-mobile-pad-image {
  width: 100%;
}

.head-weather {
  margin-left: 20px;
}

.head-desktop-menu {
  margin-left: 10px;
  padding: 10px 0 5px 0;
  border-top: solid #363636 1px;
}

.head-desktop-menu a {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .head-icons,
  .head-tools,
  .head-desktop-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .head-mobile-pad-image {
    display: none;
  }
  header {
    background-color: #222222;
    color: #fff;
  }
}
