/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

* {
  font-family: Open Sans;
}

header {
  padding: 10px 30px 10px 40px;
}

@media (max-width: 992px) {
  header {
    padding: 0;
  }
}

header .row {
  display: flex;
  align-items: center;
}

h1 {
  color: #7bd400;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0 7px 20px;
}

@media (min-width: 992px) {
  h1 {
    margin: 40px 0 30px 130px;
    font-size: 30px;
  }
}

.order-classic,
.order-reverse {
  border-bottom: solid 2px #7bd400;
}

span {
  color: #f40f96;
}

h2 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 3px 10px;
  position: relative;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 28px;
  }
}

button {
  background-color: #7bd400;
  color: #fff;
  border: none;
  padding: 4px 10px;
  margin-bottom: 15px;
  right: 15%;
}

a {
  text-decoration: none;
  color: #7bd400;
  font-weight: 600;
}

.hr-top {
  background: #f40f96;
  width: 390px;
  height: 6px;
  flex-shrink: 0;
}
